header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

header > .contents {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 10px;
  color: var(--color--primary);
}

.links > li {
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.links > li:hover {
  background-color: #dbdbdb;
  opacity: 0.5;
}

.logo {
  font-size: 30px;
  object-fit: contain;
  padding-left: 5px;
  color: var(--color--primary);
}
